.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.contact_img {
  height: 38rem;
  margin-right: 2rem; /* Add some space between the image and the form */
}

.contact_form {
  flex: 1; /* Ensure the form takes up the remaining space */
}

.contact_form form {
  display: flex;
  flex-direction: column;
  margin-left: 125px;
}

.contact_form label {
  margin-top: 1rem;
}

.contact_form input[type="text"],
.contact_form textarea {
  width: 60%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact_form input[type="button"] {
  width: 20%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #ff9000;
  color: white;
  cursor: pointer;
}

.contact_form input[type="button"]:hover {
  background-color: #f5aa4a;
}
