.mind-heading {
  font-size: 26px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 10px;
}

.mind-container {
  margin: 0 auto;
  width: 60%;
}

.mind-item {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.mind-item img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.mind-item:hover img {
  transform: scale(1.05) translateY(-5px);
}

.mind-item::before {
  content: "";
  display: block;
  padding-top: 125%;
}

.mind-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 58px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 75px;
  margin-top: 7px;
}

.f1main {
  font-size: 26px;
  margin-right: 15px;
}

select {
  padding: 5px;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.shimmerUI {
  height: 270px;
  width: 235px;
  background: linear-gradient(
    to right,
    #f0f0f0 0%,
    #e0e0e0 20%,
    #f0f0f0 40%,
    #f0f0f0 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.linkcss {
  text-decoration: none;
}
