body {
  margin: 0;
  padding-top: 70px; /* Adjust according to your navbar height */
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none; /* Remove underline from the link */
  display: flex;
  align-items: center;
}

.headerlogo {
  width: 60px;
  height: auto;
}

.headerlogo:hover {
  opacity: 0.9;
}

.name {
  margin-left: 5px;
  font-size: x-large;
  font-weight: bold;
  color: black; /* Ensure color is set correctly */
}

.search-box {
  display: flex;
  align-items: center;
  margin: 0 20px;
  flex-grow: 1;
}

.search-icon {
  font-size: larger;
  margin-right: 10px;
}

.search-input {
  width: 95%;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 12px;
}

.search-input:focus {
  border-color: #666;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listhov:hover {
  color: #fc9037;
  transform: translateY(-1px);
}

.list > li {
  padding: 5px 10px;
  margin: 0 5px;
  font-weight: bold;
  font-size: larger;
}

.link {
  color: black;
  text-decoration: none;
}

.glass {
  font-size: larger;
  border: none;
  background: none;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 50px;
}

.user-avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
}

.signin {
  background-color: #fe9000;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  color: white;
}

.signin:hover {
  background-color: #ffbf78;
}

.signin .fa-user {
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c7c8cc;
}
.header {
  position: relative;
}

.yellow-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #fe9000;
  animation: moveLine 3s ease forwards;
}

@keyframes moveLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%; /* End with full width */
  }
}
