.slick-prev,
.slick-next {
  background: #b4b4b8;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #c7c8cc;
  opacity: 1;
}

.slick-prev:focus,
.slick-next:focus {
  background-color: #c7c8cc;
  opacity: 1;
  outline: none;
}
.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}
