.slick-prev,
.slick-next {
  background-color: #e1e1e6;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #c7c8cc;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  font-size: 2rem;
  background-color: #e1e1e6;
  color: black;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
}
