html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.logo-box {
  display: flex;
  align-items: center;
}

.headerlogo {
  width: 60px;
}

.headerlogo:hover {
  opacity: 0.9;
}

.name {
  margin-left: 5px;
  font-size: x-large;
  font-weight: bold;
}

.search-box {
  display: flex;
  align-items: center;
  margin: 0 20px;
  flex-grow: 1;
}

.search-icon {
  font-size: larger;
  margin-right: 10px;
}

.search-input {
  width: 95%;
  padding: 10px 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 12px;
}

.search-input:focus {
  border-color: #666;
}

.nav-items {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list > li {
  padding: 5px 10px;
  margin: 0 5px;
  font-weight: bold;
  font-size: larger;
}

.glass {
  font-size: larger;
}

/* Mind Section Styles */
.Mindtop {
  text-align: center;
  margin-bottom: 20px;
}

.mind-container {
  margin: 0 auto;
  width: 60%;
}

.mind-item {
  width: 100%;
}

.mind-item img {
  width: 100%;
  height: auto;
}

.fcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 58px;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

.f1main {
  width: 100%;
  font-size: 27px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 75px;
}

.mind-heading {
  font-size: 27px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  width: 250px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s linear, box-shadow 0.1s ease;
  cursor: pointer;
  margin: 15px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card > img {
  width: 100%;
  height: 55%;
}

.ftext {
  padding: 15px;
  text-align: center;
}

.ftext h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #333;
}

.ftext p {
  margin: 5px 0;
  color: #555;
}

/* Footer Styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.footermain {
  font-family: "Roboto", sans-serif;
}

.playstore {
  height: 115px;
  width: 100%;
  background-color: #f0f0f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  box-sizing: border-box;
  margin-top: 32px;
}

.playstore > h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.playstore > h1 > span {
  color: #ff9000;
}

.playstore-img {
  width: 200px;
  margin-left: 30px;
  height: 62px;
}

.end {
  padding: 20px 10%;
  width: 100%;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.enddiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 50px;
  margin-right: 20px;
}

.company-details {
  flex-grow: 1;
}

.company-details > strong {
  font-size: 1.25rem;
  display: block;
}

.list-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

.list-section {
  margin: 0 20px;
}

.list-section strong {
  display: block;
  margin-bottom: 10px;
  font-size: 1rem;
}

.list-section ul {
  list-style: none;
  padding: 0;
}

.list-section ul li {
  margin: 5px 0;
  color: #9a9b9e;
  cursor: pointer;
}

.cities-dropdown {
  width: 100px;
  margin-top: 2px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.logo-text {
  display: flex;
  align-items: center;
}

.logo-text strong {
  margin-left: 10px;
  font-size: 1.25rem;
}

/* Slick Slider Custom Arrow Styles */
.slick-prev,
.slick-next {
  background-color: #e1e1e6; /* Set the background color to match the arrow */
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #c7c8cc; /* Change the background color on hover */
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  font-size: 2rem;
  background-color: #e1e1e6; /* Set the background color to match the arrow */
  color: black; /* Set the color of the arrow to black */
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1; /* Ensure the arrows are above the images */
}
