.mind-heading {
  font-size: 26px;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 10px;
}

.mind-container {
  margin: 0 auto;
  width: 60%;
}
.empty-cart-text {
  margin-bottom: 20px;
  color: #7e808c;
}

.empty-cart-button {
  background-color: #ff9000;
  border: none;
  color: white;
  font-size: 15px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f7a140;
  }
}

.mind-item {
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05) translateY(-5px);
    }
  }

  &::before {
    content: "";
    display: block;
    padding-top: 125%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.fcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 58px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 75px;
  margin-top: 15px;

  .f1main {
    font-size: 26px;
    margin-right: 15px;
  }

  select {
    padding: 5px;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
  }
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.shimmerUI {
  height: 270px;
  width: 235px;
  background: linear-gradient(
    to right,
    #f0f0f0 0%,
    #e0e0e0 20%,
    #f0f0f0 40%,
    #f0f0f0 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.linkcss {
  text-decoration: none;
}
