/* Location.scss */
.location-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 410px;
  background-color: #eeeeee;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #fc9037; /* Color on hover */
    }
  }
  .city-list span h4 {
    &:hover {
      color: #fc9037;
    }
  }
  .location-list button {
    padding: 15px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
  }
  .location-list button span h4 {
    &:hover {
      color: #fc9037;
    }
  }

  .city-list {
    list-style: none;
    margin: 20px;
    width: 400px;
    border-bottom: 2px dotted #c7c8cc;
  }
  .white-layout {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
