/* Location.scss */
.location-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 410px;
  background-color: #eeeeee;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #fc9037; /* Color on hover */
    }
  }

  .white-layout {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

/* Navbar.scss */
body {
  margin: 0;
  padding-top: 70px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2.5%);
  background-color: #ffffff;
  z-index: 999;
}

.logo-box {
  display: flex;
  align-items: center;
  margin-left: 2.5%;
}

.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.headerlogo {
  width: 55px;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }
}

.name {
  margin-left: 5px;
  font-size: x-large;
  font-weight: bold;
  color: black;
}

.search-box {
  display: flex;
  align-items: center;
  margin: 0 20px;
  flex-grow: 1;
}

.search-icon {
  font-size: larger;
  margin-right: 10px;
}

.search-input {
  width: 95%;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-right: 12px;

  &:focus {
    border-color: #666;
  }
}

.nav-items {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;

  .listhov:hover {
    color: #fc9037;
    transform: translateY(-1px);
  }

  li {
    padding: 5px 10px;
    margin: 0 5px;
    font-weight: bold;
    font-size: larger;
  }

  .link {
    color: black;
    text-decoration: none;

    i {
      margin-right: 5px;
    }
  }
}

.cart-count {
  position: relative;
  display: inline-block;

  .fa-cart-shopping {
    position: relative;
    margin-right: 10px;
  }

  .badge {
    position: absolute;
    top: -12px;
    right: -9px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    border-radius: 50%;
    background-color: #fc9037;
    color: #ffffff;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.glass {
  font-size: larger;
  border: none;
  background: none;
  cursor: pointer;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 50px;

  .user-avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-name {
    font-weight: bold;
    font-size: 16px;
  }
}

.signin {
  background-color: #fe9000;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  color: white;

  &:hover {
    background-color: #f7a140;
  }

  .fa-user {
    margin-right: 5px;
  }
}

.logout {
  margin-left: 15px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  color: black;
  height: 35px;
  width: auto;
  font-weight: bold;
  background-color: white;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #fe9000;
    color: white;
  }
}

.location {
  margin-left: 8px;
  margin-top: 3px;

  .city {
    text-decoration: underline;
    font-size: medium;

    &:hover {
      color: #f7a140;
      font-weight: bold;
    }
  }
}
